@import url('https://fonts.googleapis.com/css?family=Acme:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|&display=swap');

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/*---------------------------------------navbar*/

.navbar { 
    background-color: #3c5396; 
    }

/*---------------------------------------header*/

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*---------------------------------------footer*/
footer {
    text-align: center;
    background-color: #3c5396;
    min-height: 120px;
    font-family: "acme", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.fa-facebook-square {
    color: #ffffff;
    padding: .5rem;
}

.fa-twitter-square {
    color: #ffffff;
    padding: .5rem;
}