@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Acme:100,200,300,400,500,600,700|&display=swap');



/*---------------------------------------navbar*/

.navbar {
    background-color: #3c5396;
    font-family: "acme", sans-serif;
    font-size: 1.5em;
}

/*---------------------------------------header*/

.title-container {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 30px;
}

.title-text {
    font-family: "acme", sans-serif;
    font-size: 3em;
    color: #967f3c;
}

/*------------------------------------index-page-main-content*/

.main-sub-heading {
    font-family: "acme", sans-serif;
    color: #3c5396;
    text-align: center;
    padding-bottom: 10px;
}

.content-header {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.content-image {
    border-radius: 50px;
}

.content-info {
    font-family: "roboto", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

/*---------------------------------------jumbrotron*/

.jumbotron {
    text-align: center;
    color: #967f3c;
    font-family: "acme", sans-serif;
    background-image: url("/assets/images/audience-at-concert - web.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.ticket-icon {
    font-size: 2em;
}

.text-block-concerts {
    position: relative;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    padding-top: 40px;
    border-radius: 50px;
}


/*---------------------------------------footer*/

footer {
    text-align: center;
    background-color: #3c5396;
    min-height: 120px;
    font-family: "acme", sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 30px;
}

.fa-facebook-square {
    color: #ffffff;
    padding: .5rem;
}

.fa-twitter-square {
    color: #ffffff;
    padding: .5rem;
}
